@model Dish

<a href="/">Home</a>

<h1 class="display-4">@Model.dishName</h1>
<p class="lead">@Model.chefsName</p>
<hr>
<p class="lead">@Model.description</p>
<p class="lead">Calories: @Model.calories</p>
<p class="lead">Tastiness: @Model.tastiness</p>

<a href="">Delete</a> |
<a href="/edit">Edit</a>

